<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="logstyle.css">
    <title>Login Form</title>
</head>

<body>

    <div class="container">
        <h2>Login As</h2>

        <div class="account-type">
            <label for="barsr" class="account-label">
                <input type="radio" id="barsr" name="accountType" checked>
                <img src="images/OIP.jpg" alt="Barsr" class="account-image">
                <span class="tick-button"></span>
                <span>Bursar</span>
            </label>

            <label for="headmaster" class="account-label">
                <input type="radio" id="headmaster" name="accountType">
                <img src="images/70767042_2424972467589793_8979940506062553088_n.jpg" alt="Headmaster" class="account-image">
                <span class="tick-button"></span>
                <span>Headmaster</span>
            </label>
        </div>

        <form action="/login" method="POST">
            <div class="login-form">
                <label for="userName">Username:</label>
                <input type="text" id="userName" name="userName" required>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>

                <a href="#" class="forgot-password">Forgot Password?</a>

                <button class="login-button" type="submit">Login</button>
            </div>
        </form>
    </div>

</body>

</html>