body {
    background-color: chartreuse !important;
}

.men {
    margin-right: 10px !important;
}

nav {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    height: 60px;
    background-color: #ADEFD1FF;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 25%;
    height: 30%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

#content {
    text-align: center;
    color: #fff;
}

#close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: yellow !important;
}

.marginme {
    margin-right: 20px !important;
}

.navbar-text {
    margin-left: 17px;
}

.allflex {
    display: flex;
    width: 100%;
}

.innerOne p {
    margin-top: 20px;
    margin-left: 30px;
}

.innerOne {
    background-color: #00203FFF;
    width: 20%;
    border-right: 1px solid black;
    border-radius: 5px;
    color: #fff;
}

.innerOne a {
    text-decoration: none;
    color: white;
}


/* ... (your existing CSS) */

.myinnerflex {
    column-count: 2;
    column-gap: 15px;
}

.fa-gift {
    margin-top: 20px;
}

.icon-card {
    text-align: center;
    margin: 4px 0;
    color: white;
}

.icon-card i {
    font-size: 2em;
}


/* ... (your existing CSS) */

.inneriner {
    background-color: aquamarine;
    width: 25%;
    margin-left: 15px;
    border-radius: 10%;
}

.inner {
    width: 90%;
    border: 1px solid sandybrown;
    border-radius: 40%;
    margin: 10px;
    height: 400px;
    background-color: rgb(31, 85, 139);
}

.innertwo {
    margin-left: 15px;
    width: 75%;
    background-color: rgb(172, 199, 134) !important;
    border-left: 1px solid black;
    border-radius: 5px;
}

.inner2inners {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.myinnerflex1 a,
.myinnerflex2 a {
    text-decoration: none;
    color: black;
}

.innertwo {
    background-color: rgb(247, 250, 217);
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid yellow;
    text-align: left;
    padding: 8px;
}

th {
    background-color: rgb(242, 242, 74);
}

td img {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
}

td input[type="checkbox"] {
    cursor: pointer;
    background-color: aquamarine;
}